<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://cdn.lordicon.com/qjzruarw.js" defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fira+Sans:ital,wght@1,300&family=Montserrat:wght@300;400&family=Open+Sans&family=Oswald&family=Oxygen&family=Poppins:wght@400;500&family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@0,300;1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/dropdown.css">
    <title>DropDown</title>
</head>

<body>
    <nav>
        <ul class="nav-list">
            <li><a href="">Men</a></li>
            <li><a href="">Women</a></li>
            <li><a href="">Kids</a></li>
            <li><a href="">About Us</a></li>
        </ul>

        <ul class="icon-list">
            <li>
                <lord-icon src="https://cdn.lordicon.com/rjzlnunf.json" trigger="hover"
                    colors="primary:#c71f16,secondary:#ffffff" style="width:40px;height:40px">
                </lord-icon>
            </li>
            <li>
                <lord-icon src="https://cdn.lordicon.com/lpddubrl.json" trigger="hover"
                    colors="primary:#61481C,secondary:#000000" style="width:40px;height:40px">
                </lord-icon>
            </li>
            <li>
                <lord-icon src="https://cdn.lordicon.com/ljvjsnvh.json" trigger="hover"
                    colors="primary:#1663c7,secondary:#000000" state="hover-1" style="width:40px;height:40px">
                </lord-icon>
            </li>


        </ul>
    </nav>
    <aside class="nav-down">
        <section class="dropdown">
            <ul id="drop_list">
                <li>
                    <h4>title</h4>
                    <ul>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                    </ul>
                    <hr>
                    <h4>title</h4>
                    <ul>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                    </ul>

                </li>
                <li class="even">
                    <h4>title</h4>
                    <ul>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                    </ul>
                    <hr>
                    <h4>title</h4>
                    <ul>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                    </ul>
                </li>
                <li>
                    <h4>title</h4>
                    <ul>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                    </ul>
                    <hr>
                    <h4>title</h4>
                    <ul>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                    </ul>
                </li>
                <li class="even">
                    <h4>title</h4>
                    <ul>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                    </ul>
                    <hr>
                    <h4>title</h4>
                    <ul>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                    </ul>
                </li>
                <li>
                    <h4>title</h4>
                    <ul>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                    </ul>
                    <hr>
                    <h4>title</h4>
                    <ul>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                        <li><a href="">l1</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>

</body>

</html>
