<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/text-photo.css">
    <title>Text Photo</title>
</head>

<body>
    <section class="text-photo">
        <div id="photo-desc">
            <p id="head-bold">GLITTERR TELLS US A STORY OF WONDROUS EXQUISITE JEWELLERY FOR THE WOMEN OF TODAY.</p>
            <p id="desc-light">Our collections are carefully curated to provide a range of everyday, festive and fun
                items which level up your style quotient.
            </p>
            <button id="text-btn">DUMMY</button>
        </div>
        <div id="photo-with-card">
            <div class="photo-card"></div>
        </div>

    </section>
</body>

</html>
